* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  transition: all 125ms ease;
}

:root {
  --bg-base-100: #ffffff;
  --bg-base-200: #f6f7f8;
  --bg-primary: #2a3647;
  --bg-accent: #29abe2;
  --bg-neutral: #d1d1d1;
  --bg-neutral-accent: #a8a8a8;
  --bg-error: #ff001f;
  --priority-urgent: #ff3d00;
  --priority-medium: #fea800;
  --priority-low: #7be129;
  --base-content: #2a3647;
  --secondary-content: #42526E;
  --white-content: #ffffff;
  --black-content: #000000;
  --error-content: #ff8190;
  --input-border-col: #d1d1d1;
  --shadow-td: 0 0 4px 0 rgba(0, 0, 0, 0.10);
  --shadow-sm: 0 4px 4px 0 rgba(0, 0, 0, 0.10);
  --shadow-md: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  --shadow-lg: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);

  --task-color-blue: #0038FF;
}

main {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  width: 100%;
  background-color: var(--bg-base-200);
}

.page-wrapper {
  display: flex;
}

.main-content {
  padding: 2rem 4rem;
  width: 100%;
}