<a href="../pages/summary.html" class="logo-container">
    <img class="logo-header" src="../assets/img/join-logo-dark.svg" alt="Join Logo" />
</a>
<span class="project-name">Kanban Project Managment Tool</span>
<div id="header-menu" class="header-menu">
    <a class="help-icon" href="../pages/help.html">
        <img src="../assets/icons/help.svg" alt="help" />
    </a>
    <button id="menu-toggle-button" class="profile-button" onclick="toggleMobileMenu()">
        <span id="current-user-initials" class="profile-initials">SM</span>
    </button>
    <div id="mobile-menu" class="mobile-menu hidden">
        <a href="../pages/help.html" class="mobile-nav-help nav-link">Help</a>
        <a href="../pages/privacy-policy.html" class="nav-link">Privacy Policy</a>
        <a href="../pages/legal-notice.html" class="nav-link">Legal Notice</a>
        <a href="#" onclick="logOut()">Log out</a>
    </div>
</div>