<aside>
    <nav role="navigation">
        <a href="#"><img class="logo" src="../assets/img/join-logo.svg" alt="Join Logo" />
        </a>
        <ul class="menu" aria-label="Main Navigation">
            <li>
                <a class="nav-active" href="#">
                    <div class="menu-item">
                        <img class="nav-icon" src="../assets/icons/layout.svg" alt="Summary Icon" />
                        Summary
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="menu-item">
                        <img class="nav-icon" src="../assets/icons/note-pencil.svg" alt="Add Task Icon" />
                        Add Task
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="menu-item">
                        <img class="nav-icon" src="../assets/icons/kanban.svg" alt="Board Icon" />
                        Board
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="menu-item">
                        <img class="nav-icon" src="../assets/icons/address-book.svg" alt="Contacts Icon" />
                        Contacts
                    </div>
                </a>
            </li>
        </ul>
        <div class="footer-links">
            <a href="#">Privacy Policy</a>
            <a href="#">Legal Notice</a>
        </div>
    </nav>
</aside>