<nav role="navigation">
    <a href="../pages/summary.html" class="nav-logo">
        <img src="../assets/img/join-logo.svg" alt="Join Logo" />
    </a>
    <div class="menu">
        <a href="../pages/summary.html" class="nav-link active">
            <div class="menu-item">
                <img class="nav-icon" src="../assets/icons/layout.svg" alt="Summary Icon" />
                Summary
            </div>
        </a>
        <a href="../pages/addTask.html" class="nav-link">
            <div class="menu-item">
                <img class="nav-icon" src="../assets/icons/note-pencil.svg" alt="Add Task Icon" />
                Add Task
            </div>
        </a>
        <a href="../pages/board.html" class="nav-link">
            <div class="menu-item">
                <img class="nav-icon" src="../assets/icons/kanban.svg" alt="Board Icon" />
                Board
            </div>
        </a>
        <a href="../pages/contacts.html" class="nav-link">
            <div class="menu-item">
                <img class="nav-icon" src="../assets/icons/address-book.svg" alt="Contacts Icon" />
                Contacts
            </div>
        </a>
    </div>
    <div class="footer-links">
        <a href="../pages/privacy-policy.html" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
        <a href="../pages/legal-notice.html" target="_blank" rel="noopener noreferrer">Legal Notice</a>
    </div>
</nav>