.add-contact {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(0.25rem);
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.overlay-content-add-contact {
    display: flex;
    background-color: white;
    border-radius: 1.875rem;
    width: 60%;
    height: 31.25rem;
    position: fixed;
    top: 50%;
    right: -100%;
    transform: translateY(-50%);
    transition: transform 0.2s ease-in-out, right 0.2s ease-in-out;
}

.overlay-content-add-contact.show {
    right: calc(50% - 30%);
    transform: translateY(-50%);
}

.overlay-content-edit-contact {
    display: flex;
    background-color: white;
    border-radius: 1.875rem;
    width: 60%;
    height: 31.25rem;
    position: fixed;
    top: 50%;
    right: -60%;
    transform: translateY(-50%);
    transition: right 0.2s ease-in-out;
    opacity: 0;
}

.show-edit-contact {
    right: 20%;
    opacity: 1;
}

.close-add-contact-overlay {
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 2rem;
}

.overlay-left {
    width: 40%;
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2rem;
    border-bottom-left-radius: 1.875rem;
    border-top-left-radius: 1.875rem;
}

.overlay-left h2 {
    margin-bottom: 0.625rem;
    font-size: 3.5rem;
    font-weight: 700;
}

.overlay-left img {
    height: 3.75rem;
    position: absolute;
    top: 7.5rem;
}

.overlay-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem 2rem 2rem;
    color: white;
}

.input-card {
    width: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.profile-icon-add-contact {
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 50%;
}

.input-card button {
    margin-right: 1rem;
    width: 6.25rem;
}

.add-contact-buttons {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}



@media (max-width : 1400px) {
    .overlay-content-add-contact {
        width: 80%;
    }

    .overlay-content-add-contact.show {
        right: calc(50% - 40%);
    }

    .overlay-content-edit-contact {
        width: 80%;
        right: calc(50% - 40%);
    }
}

@media (max-width : 960px) {
    #edit-contact-responsive {
        width: 3rem;
    }

    .overlay-content-add-contact.show {
        right: calc(50% - 45%);
    }

    .overlay-content-edit-contact {
        flex-direction: column;
        height: 90%;
        width: 90%;
        right: calc(50% - 45%);
    }

    .overlay-content-add-contact {
        flex-direction: column;
        height: 90%;
        width: 90%;
    }

    .overlay-left {
        width: 100%;
        border-bottom-left-radius: 0;
        border-top-right-radius: 1.875rem;
        align-items: flex-start;
        height: 50%
    }

    .overlay-left img {
        display: none;
    }

    .overlay-right {
        width: 100%;
        height: 50%;
        padding: 2rem 2rem 2rem 2rem;
    }

    .profile-icon-add-contact {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .add-contact-buttons {
        justify-content: center;
        gap: 1rem;
    }

    .input-card {
        gap: 0;
    }

    .input-field {
        padding-right: 0;
    }

    .input-card button {
        margin-right: 0;
    }
}

@media (max-width : 425px) {
    .overlay-left h2 {
        font-size: 2.5rem;
    }

    .add-contact-buttons {
        margin-top: 0;
    }

    .overlay-content-add-contact {
        width: 90%;
    }

    .overlay-content-add-contact.show {
        right: calc(50% - 45%);
    }

    .overlay-content-edit-contact {
        width: 90%;
        right: calc(50% - 45%);
    }
}

@media (max-width : 375px) {
    .overlay-left h2 {
        font-size: 2rem;
    }

    .error-message {
        font-size: 0.5rem;
    }

    .profile-icon-add-contact {
        height: 6rem;
        width: 6rem;
    }

    .input-card button {
        width: 6rem;
        height: 2.5rem;
        height: 2.5rem;
    }
}