:root {
    --base-content: #2a3647;
    --bg-accent: #29abe2;
    --bg-base-100: #ffffff;
    --bg-base-200: #f6f7f8;
    --bg-error: #ff001f;
    --bg-neutral: #d1d1d1;
    --bg-neutral-accent: #a8a8a8;
    --bg-primary: #2a3647;
    --black-content: #000000;
    --error-content: #ff8190;
    --input-border-col: #d1d1d1;
    --priority-low: #7be129;
    --priority-medium: #fea800;
    --priority-urgent: #ff3d00;
    --secondary-content: #42526E;
    --shadow-lg: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    --shadow-md: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    --shadow-sm: 0 4px 4px 0 rgba(0, 0, 0, 0.10);
    --shadow-td: 0 0 4px 0 rgba(0, 0, 0, 0.10);
    --task-color-blue: #0038FF;
    --white-content: #ffffff;
}

.button-row {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
    width: 100%;
}

.buttons {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    max-width: 480px;
    width: 100%;
}

.clear-button,
.create-button {
    background-color: var(--bg-primary);
    border: none;
    border-radius: 10px;
    color: var(--white-content);
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: bold;
    height: 3.5rem;
    transition: background-color 0.3s;
}

.clear-button {
    max-width: 7rem;
}

.clear-button:hover,
.create-button:hover {
    background-color: #3e4e6a;
}

.contact-avatar {
    align-items: center;
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-weight: bold;
    height: 32px;
    justify-content: center;
    margin-right: 10px;
    width: 32px;
    border: 4px solid #ffffff;
}

.contact-option {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.contact-option:hover {
    background-color: #f0f0f0;
}

.contact-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

.contact-option span {
    flex-grow: 1;
    font-size: 16px;
}

.contact-option input[type="checkbox"] {
    margin-left: 202px;
    width: 16px;
}

.create-button {
    max-width: 11rem;
}

.dropdown {
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 10px;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
}


.dropdown-item {
    cursor: pointer;
    padding: 8px;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.dropdown-options {
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 10px;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
}

.edit-icon,
.delete-icon {
    cursor: pointer;
    margin-left: 8px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 100%;
    padding: 1rem 4rem;
    width: 100%;
}

.form-content {
    display: flex;
    gap: 96px;
}

.hidden {
    display: none !important;
}

.h1 {
    font-size: 64px;
    font-weight: 700;
    margin-top: 16px;
}

.icon {
    align-items: center;
    display: flex;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    right: 0.75rem;
    top: 24%;
    transform: translateY(-50%);
}

.input-field {
    position: relative; /* Stellt sicher, dass das Dropdown relativ zum Eingabefeld angezeigt wird */
    width: 100%;
    cursor: pointer;
}

.input-field svg {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.input-field svg.open {
    border: 1px solid lightgray;
    transform: rotate(180deg);
}

.input-wrapper {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    min-height: 80px;
    position: relative;
}

label {
    display: block;
    font-size: 24px;
    margin: 40px 0 0.25rem;
    position: relative;
}

label[for="assigned"] {
    margin-top: 32px;
}

.prio-button {
    align-items: center;
    border: none;
    border-radius: 10px;
    color: var(--black-content);
    cursor: pointer;
    display: flex;
    font-size: 1.25rem;
    font-weight: 600;
    gap: 8px;
    height: 3rem;
    justify-content: center;
    width: 480px;
}

.prio-button:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.prio-button.low,
.prio-button.medium,
.prio-button.urgent {
    background-color: var(--white-content);
}

.prio-button svg {
    flex-shrink: 0;
}

.prio-buttons {
    display: flex;
    gap: 8px;
    max-width: 480px;
}

.required-input.error {
    border: 1px solid var(--bg-error);
    outline: none;
}

.required-note {
    color: var(--bg-error);
    display: none;
    font-size: 12px;
    font-weight: 400;
    left: 0;
    position: absolute;
    top: 40px;
}

.right-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.selected-contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
}

.selected-contact {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 16px;
    padding: 5px 10px;
    font-size: 12px;
}

.selected-contact .contact-avatar {
    width: 20px;
    height: 20px;
    font-size: 10px;
    margin-right: 5px;
}


.styled-button {
    background-color: var(--white-content);
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: inline-block;
    padding: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.styled-button:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.subtask-actions {
    display: flex;
    gap: 5px;
}

.subtask-actions svg {
    cursor: pointer;
}

.subtask-container {
    position: relative;
}


.subtask-item .bullet {
    color: #000;
    margin-right: 8px;
}

.subtask-list {
    list-style-type: none;
    padding: 0;
    margin-top: 8px;
}

.subtask-options {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
}

textarea {
    border: 1px solid var(--input-border-col);
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    height: 120px;
    padding: 1rem;
    resize: vertical;
    width: 480px;
}

textarea::placeholder {
    font-size: 1.25rem !important;
}

.vertical-line {
    background-color: #d1d1d1;
    width: 1px;
}


.dropdown-icon {
    transition: transform 0.3s ease;
}

.dropdown-icon.rotated {
    transform: rotate(180deg);
}

/* Dropdown für Kontakte absolut positionieren */
#contact-dropdown {
    position: absolute;
    left: 0;
    z-index: 1000;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* Fixiert die linke Spalte, damit das Layout unverändert bleibt */
.left-column {
    position: relative; /* Bezugsrahmen für absolut positionierte Elemente */
}

.subtask-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none; /* Standardmäßig ausgeblendet */
}

#cancel-icon {
    right: 40px;
}

#confirm-icon {
    right: 10px;
}

.subtask-icon.visible {
    display: block; /* Sichtbar, wenn die Klasse "visible" hinzugefügt wird */
}

.input-field:focus-within {
    border-color: #00bee8; /* Rahmenfarbe bei Fokus */
}

.subtask-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 12px;
    background-color: #f9f9f9;
    margin-bottom: 5px;
    position: relative;
    transition: border-width 0.3s, background-color 0.3s;
}

.subtask-item:hover {
    background-color: #e0e0e0; /* Hintergrundfarbe bei Hover */
    border-width: 2px; /* Border-Stärke bei Hover erhöhen */
    border-color: #888;
}

.subtask-item:hover .subtask-actions {
    display: flex; /* Icons bei Hover anzeigen */
}

.subtask-item .subtask-actions {
    display: none; /* Standardmäßig ausgeblendet */
    position: absolute;
    right: 10px; /* Abstand von rechts für die Icons */
    top: 50%;
    transform: translateY(-50%);
    gap: 10px;
}

.subtask-item .subtask-actions svg {
    width: 20px;
    height: 20px;
    transition: transform 0.2s; /* Übergang für Icon-Größe */
}

.subtask-item:hover .subtask-actions svg {
    transform: scale(1.2); /* Icons bei Hover vergrößern */
}
