.btn-contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.btn-contact {
    width: 90%;
    font-weight: 600;
}

.contact {
    display: flex;
    cursor: pointer;
    border-radius: 1rem;
    align-items: center;
    width: 90%;
    margin: 0.5rem auto;
    padding-left: 1rem;
    gap: 1.5rem;
}

.contact-active {
    background-color: var(--bg-primary);
    color: var(--bg-base-100);
}

.contact-active:hover {
    background-color: var(--bg-primary) !important;
}

.contact:hover {
    background-color: var(--bg-base-200);
}

.contact-card {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.contact-details {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    position: fixed;
    height: 100%;
    width: calc(100% - 232px - 20%);
    top: 6rem;
    right: 0;
    margin-top: 2rem;
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;
    opacity: 0;
}

.contact-details.show {
    transform: translateX(0);
    opacity: 1;
}

.contact-details.hide {
    transform: translateX(100%);
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem;
}

.contact-info-text {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.contact-list {
    position: fixed;
    height: calc(100% - 6rem);
    /* width: 20%; */
    top: 6rem;
    overflow-y: auto;
    padding: 1em;
    background-color: var(--bg-base-100);
    box-shadow: var(--shadow-md);
    z-index: 1;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.contact-list::-webkit-scrollbar {
    width: 0.75rem;
}

.contact-list::-webkit-scrollbar-track {
    background: transparent;
}

.contact-list::-webkit-scrollbar-thumb {
    background-color: var(--bg-neutral-accent);
    border-radius: 0.5rem;
    border: 0.125rem solid transparent;
    background-clip: padding-box;
}

.contact-list::-webkit-scrollbar-button:vertical:increment {
    border-bottom: 0.375rem solid transparent;
    border-left: 0.375rem solid transparent;
    border-right: 0.375rem solid transparent;
    border-top: 0.375rem solid var(--bg-neutral-accent);
}

.contact-list::-webkit-scrollbar-button:vertical:decrement {
    border-top: 0.375rem solid transparent;
    border-left: 0.375rem solid transparent;
    border-right: 0.375rem solid transparent;
    border-bottom: 0.375rem solid var(--bg-neutral-accent);
}

.contact-name-and-email {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.25rem;
}

.divider-add-contact-overlay {
    position: absolute;
    width: 5rem;
    height: 0.1875rem;
    background-color: var(--bg-accent);
}

.divider-action-contact {
    height: auto;
}

.email {
    color: #007CEE;
    cursor: pointer;
}

.email-card {
    font-weight: bold;
}

.email-list {
    color: #007CEE;
    cursor: pointer;
    font-size: 0.875rem;
}

.headline-wrapper {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.headline-wrapper span {
    font-size: 1.75rem;
    font-weight: 400;
    color: var(--base-content);
}

.icon-name-and-action {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.img-contact-detail {
    height: 8.75rem;
}

.info-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.letter-group h2 {
    padding: 0.5em 2em;
    margin: 0;
    font-size: 1.5em;
}

.letter-group ul {
    list-style-type: none;
    padding-left: 0;
}

.letter-group ul li {
    padding: 0.5em 1.5em;
}

.main-headline {
    font-size: 4rem;
    font-weight: 600;
    color: var(--black-content);
}

.name-detail {
    font-size: 3rem;
    font-weight: 500;
}

.phone-card {
    font-weight: bold;
}

.profile-icon-contact {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.125rem solid white;
    position: relative;
    margin-left: -0.625rem;
    left: 0.5rem;
    font-size: 2.5rem;
}

.user-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-left: 2rem;
}

.user-active {
    background-color: var(--bg-primary);
    color: var(--bg-base-100);
}

.user-active:hover {
    background-color: var(--bg-primary) !important;
}

.action-contact {
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
}

.action-type {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: all 75ms ease;
}

.action-type:hover {
    color: var(--bg-accent);
}

.action-type svg {
    transition: all 75ms ease;
}

.action-type:hover svg {
    fill: var(--bg-accent);
}

.back-btn {
    display: none;
}

.add-contact-btn-mobile {
    display: none;
    height: 3rem;
    width: 3rem;
}

.edit-contact-btn-mobile {
    display: none;
    height: 3rem;
    width: 3rem;
}


@media (max-width: 1440px) {
    .contact-list {
        width: 25%;
        padding: 1rem 0;
    }
    .contact-details{
        width: calc(100% - 232px - 25%)
    }
}

@media (max-width: 1024px) {
    .contact-list {
        width: 33%;
    }
    .contact-details{
        width: calc(100% - 232px - 30%)
    }
    .main-headline{
        font-size: 3rem;
    }
    .headline-wrapper {
        gap: 1rem;
    }
    .headline-wrapper span {
        font-size: 1rem;
    }
    .profile-icon-contact {
        width: 6rem;
        height: 6rem;
    }
    .profile-icon-contact span {
        font-size: 2rem;
    }
    .name-detail {
        font-size: 1.5rem;
    }
    .contact {
        gap: 1rem;
    }
}

@media (max-width: 768px) {
    .contact-list {
        width: 100%;
        padding: 1rem 0;
    }
    .contact-details.show{
        /* display: none; */
        position: fixed;
        top: 32px;
        width: 100%;
        z-index: 1;
        background-color: var(--bg-base-200);
    }
    .contact-list{
        position: static;
    }
    .btn-contact-container {
        display: none;
    }
    .divider-horizontal {
        /* width: 90%; */
    }
    .action-contact {
        display: none;
    }
    .contact-name-and-email {
        /* flex-direction: row; */
    }
    .name-detail {
        font-size: 3rem;
        font-weight: 700;
    }
    .headline-wrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }
    .icon-name-and-action {
        padding-top: 1rem;
    }
    .user-contact {
        margin-left: 0;
    }
    .contact-info {
        gap: 0;
    }
    .back-btn {
        display: flex;
        position: absolute;
        top: 3rem;
        right: 2rem;
    }
    .responsive-container{
        display: flex;
        flex-direction: column-reverse;
        gap: 0.5rem
    }
    .add-contact-btn-mobile {
        display: flex;
        position: fixed;
        bottom: 6rem;
        right: 1rem;
    }
    .edit-contact-btn-mobile {
        display: flex;
        position: fixed;
        bottom: 10rem;
        right: 1rem;
    }
}

@media (max-width: 425px) {
    .name-detail {
        font-size: 2rem;
    }
    .contact-details {
        padding: 2rem 1rem;
    }
    .contact-info {
        padding: 1rem 0;
    }
    .icon-name-and-action {
        padding-top: 2rem;
    }
}

@media (max-width: 320px) {
    .contact {
        gap: 0 
    }
    .name-detail {
        font-size: 1.5rem
    }
    .icon-name-and-action {
        gap: 0;
    }
}