.contact-list {
    position: fixed;
    height: calc(100% - 96px);
    width: 20%;
    top: 96px;
    overflow-y: auto;
    padding: 1em;
    background-color: var(--bg-base-100);
    box-shadow: var(--shadow-md);
    z-index: 1;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    scrollbar-width: thin;
    scrollbar-color: var(--bg-neutral-accent) transparent;
}

.letter-group h2 {
    padding: 0.5em 2em;
    margin: 0;
    font-size: 1.5em;
}

.letter-group ul {
    list-style-type: none;
    padding-left: 0;
}

.letter-group ul li {
    padding: 0.5em 3em;
}

.btn-contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    
}

.btn-contact {
    width: 90%;
    font-weight: 600;
}
.contact {
    display: flex;
    cursor: pointer;
    border-radius: 16px;
    align-items:center ;
    width: 90%;
    margin: 8px auto;
    padding-left: 1rem;
}

.contact-active {
    background-color: var(--bg-primary);
    color: var(--bg-base-100);
}

.contact-active:hover {
    background-color: var(--bg-primary) !important;
}

.contact:hover {
    background-color: var(--bg-base-200);
}

.contact-name-and-email{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 4px;
}

.email {
    color: #007CEE;
    cursor: pointer;
}

.contact-details {
    display: flex;
    gap: 2rem;
    position: fixed;
    height: 100%;
    width: calc(100% - 232px - 20%);
    top: 96px;
    right: 0;
    margin-top: 2rem;
}

.headline-wrapper {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.main-headline {
    font-size: 4rem;
    font-weight: 600;
    color: var(--black-content);
}

.headline-wrapper span {
    font-size: 1.75rem;
    font-weight: 400;
    color: var(--base-content);
}

.contact-details {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
}

.action-contact {
    display: flex;
    gap: 16px;
    justify-content: flex-start;
}

.action-type {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.divider-action-contact {
    height: auto;
}

.name-detail {
    font-size: 48px;
    font-weight: 500;
}

.img-contact-detail {
    height: 140px;
}

.contact-card {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 2rem 1rem;
}

.contact-info-text {
    font-size: 20px;
    margin-bottom: 2rem;
}

.icon-name-and-action {
    display: flex;
    gap: 1rem;

}

.email-card {
    font-weight: bold;
}

.info-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.phone-card {
    font-weight: bold;
}

.divider-add-contact-overlay {
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: var(--bg-accent);
}
