header {
  position: sticky;
  top: 0;
  background-color: var(--bg-base-100);
  width: 100%;
  height: 6rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  z-index: 1;
}

.logo-header {
  display: none;
}

.project-name {
  font-size: 1.25rem;
}

.help-profile {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.help-icon:hover {
  scale: 1.1;
}

.profile-button {
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--bg-base-100);
  border: 2px solid var(--bg-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.profile-button:hover {
  background-color: #e1e5ec;
}

.profile-initials {
  color: var(--bg-accent);
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 768px) {
  header {
    padding: 0 0.5rem;
  }
}

@media (max-width: 425px) {
  header {
    width: 100%;
    display: flex
  }

  .project-name {
    display: none;
  }

  .help-icon {
    display: none;
  }

  .logo-header {
    display: flex;
    width: 2rem;
    height: 2.5rem;
    margin-left: 1rem;
  }

  .profile-button {
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid var(--bg-primary);
  }

  .profile-initials {
    font-size: .875rem;
  }
}