body {
    background-color: var(--bg-base-200);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    padding: 0 1rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(246, 247, 248, 1);
    justify-content: center;
    align-items: center;
    z-index: 100;
    opacity: 1;
    transition: opacity 500ms ease;
}

.overlay.dark {
    background-color: var(--bg-primary);
}

.overlay.hidden {
    opacity: 0;
}

.overlay.hidden-complete {
    display: none;
}

.main-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16rem;
    height: auto;
    transform: translate(-50%, -50%);
    animation: slideToPosition 1500ms forwards;
    animation-delay: 1s;
    z-index: 200;
}

@keyframes slideToPosition {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    100% {
        top: calc(4rem - (16rem - 6.25rem) / 2);
        left: calc(4.5rem - (16rem - 6.25rem) / 2);
        transform: translate(0, 0) scale(0.39);
    }
}

.call-to-signup {
    position: absolute;
    top: 4rem;
    right: 4.5rem;
    align-items: center;
    gap: 2rem;
    color: var(--base-content);
}

.login-wrapper,
.signup-wrapper {
    position: relative;
    flex-direction: column;
    align-items: center;
    max-width: 40rem;
    width: 100%;
    padding: 3rem 1rem;
    border-radius: 1.875rem;
    background-color: var(--bg-base-100);
    box-shadow: var(--shadow-lg);
}

.login-header,
.signup-header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
}

#back-to-login {
    position: absolute;
    top: 3rem;
    left: 2rem;
}

.login-header h1,
.signup-header h1 {
    font-size: 4rem;
    color: var(--black-content);
}

.custom-divider {
    display: flex;
    place-self: center;
    width: 150px;
    height: 2px;
    border-radius: 1.5px;
    background-color: var(--bg-accent);
}

.login-form,
.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25rem;
    width: 100%;
    gap: 2rem;
}

.login-inputs,
.signup-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25rem;
    width: 100%;
    gap: 1rem;
}

.input-field {
    display: flex;
    flex-direction: column;
}

.password-icon svg:hover {
    cursor: pointer;
}

.eye-slash-icon:hover,
.eye-icon:hover {
    cursor: pointer;
}

.login-checkbox,
.signup-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    color: var(--base-content);
    cursor: pointer;
}

.signup-checkbox a {
    text-decoration: none;
    color: var(--bg-accent);
}

.signup-checkbox a:hover {
    text-decoration: underline;
}

label {
    font-weight: 300;
    color: var(--bg-neutral-accent);
    cursor: pointer;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.custom-checkbox {
    display: none;
}

.checkbox-icon {
    cursor: pointer;
}

.custom-checkbox:checked+.checkbox-label .checkbox-icon {
    content: url('../assets/icons/checked.svg');
}

.login-options,
.signup-options {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1.5rem;
}

.login-footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    width: 100%;
    gap: 2.5rem;
}

.login-footer a {
    text-decoration: none;
    color: var(--bg-neutral-accent);
}

.login-footer a:hover {
    color: var(--bg-accent);
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

.blink {
    animation: blink 1s linear both;
}

.feedback-modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(246, 247, 248, 0.2);
    backdrop-filter: blur(0.5rem);
    justify-content: center;
    align-items: center;
}

.feedback-modal-content {
    background-color: var(--bg-primary);
    padding: 1.5rem;
    border-radius: 1.25rem;
    text-align: center;
    font-size: 20px;
    color: var(--white-content);
    box-shadow: var(--shadow-sm);
    animation: slide-in-bottom 250ms forwards;
    opacity: 0;
}

@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

/*  */
/* Media Queries */
/*  */
@media screen and (max-width: 48rem) {
    .main-logo {
        width: 8rem;
    }

    .call-to-signup {
        top: unset;
        right: unset;
        bottom: 10%;
        justify-content: center;
        width: 100%;
    }

    .login-header h1,
    .signup-header h1 {
        font-size: 3rem;
    }

    .login-wrapper,
    .signup-wrapper {
        padding: 2rem 1rem;
    }

    @keyframes slideToPosition {
        0% {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        100% {
            top: calc(2rem - (8rem - 4rem) / 2);
            left: calc(2rem - (8rem - 4rem) / 2);
            transform: translate(0, 0) scale(0.5);
        }
    }
}

@media screen and (max-width: 35rem) {
    .main-logo {
        width: 6.25rem;
    }

    .login-header h1,
    .signup-header h1 {
        font-size: 2rem;
    }

    .login-options,
    .signup-options {
        flex-direction: column;
    }

    #back-to-login {
        top: 1.5rem;
        left: 1rem;
    }

    @keyframes slideToPosition {
        0% {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        100% {
            top: calc(1rem - (6.25rem - 2rem) / 2);
            left: calc(1rem - (6.25rem - 2rem) / 2);
            transform: translate(0, 0) scale(0.32);
        }
    }
}

@media screen and (max-width: 24rem) {

    .login-wrapper,
    .signup-wrapper {
        padding: 1rem;
    }

    .login-form,
    .signup-form {
        gap: 1.5rem;
    }

    .login-header,
    .signup-header {
        gap: 1rem;
    }

    .login-inputs,
    .signup-inputs {
        gap: 1rem;
    }

    .login-options {
        gap: 1rem;
    }
}