body {
    background-color: var(--bg-base-200);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    padding: 0 1rem;
}

.main-logo {
    position: absolute;
    top: 5rem;
    left: 4.5rem;
    width: 6.25rem;
    height: auto;
}

.call-to-signup {
    position: absolute;
    top: 4rem;
    right: 4.5rem;
    align-items: center;
    gap: 2rem;
    color: var(--base-content);
}

.main-logo {
    width: 6.25rem;
}

.login-wrapper,
.signup-wrapper {
    position: relative;
    flex-direction: column;
    align-items: center;
    max-width: 40rem;
    width: 100%;
    padding: 3rem 1rem;
    border-radius: 1.875rem;
    background-color: var(--bg-base-100);
    box-shadow: var(--shadow-lg);
}

.login-header,
.signup-header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
}

#back-to-login {
    position: absolute;
    top: 3rem;
    left: 2rem;
}

.login-header h1,
.signup-header h1 {
    font-size: 4rem;
    color: var(--black-content);
}

.custom-divider {
    display: flex;
    place-self: center;
    width: 150px;
    height: 2px;
    border-radius: 1.5px;
    background-color: var(--bg-accent);
}

.login-form,
.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25rem;
    width: 100%;
    gap: 2rem;
}

.login-inputs,
.signup-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25rem;
    width: 100%;
    gap: 1.5rem;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
}

.password-icon svg:hover {
    cursor: pointer;
}

.eye-slash-icon:hover,
.eye-icon:hover {
    cursor: pointer;
}

.login-checkbox,
.signup-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--base-content);
    cursor: pointer;
}

.signup-checkbox a {
    text-decoration: none;
    color: var(--bg-accent);
}

.signup-checkbox a:hover {
    text-decoration: underline;
}

.signup-checkbox label {
    color: var(--bg-neutral-accent);
    font-weight: 300;
}

.login-checkbox label:hover,
.signup-checkbox label:hover {
    cursor: pointer;
}

.custom-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: unset;
    width: 2rem;
    padding: 0;
    height: auto;
    cursor: pointer;
}

.custom-checkbox::after {
    content: url('../assets/icons/unchecked.svg');
    height: 3.5rem;
    width: 3.5rem;
}

.custom-checkbox:checked::after {
    content: url('../assets/icons/checked.svg');
}

.login-options,
.signup-options {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1.5rem;
}

.login-footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    width: 100%;
    gap: 2.5rem;
}

.login-footer a {
    text-decoration: none;
    color: var(--bg-neutral-accent);
}

.login-footer a:hover {
    color: var(--bg-accent);
}




@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

.blink {
    animation: blink 1s linear both;
}


.confirmation-modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
}

.confirmation-modal-content {
    background-color: var(--bg-primary);
    padding: 1.5rem;
    border-radius: 1.25rem;
    text-align: center;
    font-size: 20px;
    color: var(--white-content);
    box-shadow: var(--shadow-sm);
}




/*  */
/* Media Queries */
/*  */
@media screen and (max-width: 48rem) {
    .main-logo {
        top: 2rem;
        left: 2rem;
        width: 4rem;
    }

    .call-to-signup {
        top: unset;
        right: unset;
        bottom: 10%;
        justify-content: center;
        width: 100%;
    }

    .login-header h1,
    .signup-header h1 {
        font-size: 3rem;
    }

    .login-wrapper,
    .signup-wrapper {
        padding: 2rem 1rem;
    }
}

@media screen and (max-width: 35rem) {
    .main-logo {
        top: 1.25rem;
        left: 1rem;
        width: 2rem;
    }

    .login-header h1,
    .signup-header h1 {
        font-size: 2rem;
    }

    .login-options,
    .signup-options {
        flex-direction: column;
    }

    #back-to-login {
        top: 1.5rem;
        left: 1rem;
    }
}

@media screen and (max-width: 24rem) {

    .login-wrapper,
    .signup-wrapper {
        padding: 1rem;
    }

    .login-form,
    .signup-form {
        gap: 1.5rem;
    }

    .login-header,
    .signup-header {
        gap: 1rem;
    }

    .login-inputs,
    .signup-inputs {
        gap: 1rem;
    }

    .login-options {
        gap: 1rem;
    }
}